.background{
    padding:0;
    position:relative;
    height:35rem;
    width:100%;
}

.background::after{
    content:'';
    background-image: url(../../img/Background3.jpg);
    background-size: cover;
    background-position: center;
    top:4rem;
    bottom:0;
    left:0;
    right: 0;
    position: absolute;
    z-index: -2;
}

.background__superior{
    padding: 23rem 0 0 22rem;
}

.background__titulo{
    font-size: 6rem;
    font-weight: 500;
    padding: 0;
}
