.background{
    padding:0;
    position:relative;
    height:35rem;
    width:100%;
}

.background::after{
    content:'';
    background-image: url(../../img/Background3.jpg);
    background-size: cover;
    background-position: center;
    top:4rem;
    bottom:0;
    left:0;
    right: 0;
    position: absolute;
    z-index: -2;
}

.background__superior{
    padding: 23rem 0 0 25vw;
}

.background__titulo{
    font-size: 6rem;
    font-weight: 500;
    padding: 0;
}

@media screen and (max-width:900px) {
    .background{
        height:24rem;
    }
    
    .background::after{
        top:1rem;
    }

    .background__superior{
        padding: 32vh 0 0 20vw;
    }

    .background__titulo{
        font-size: 4rem;
        width:300px;
    }
}

@media screen and (max-width:550px) {
    .background{
        height:22.5rem;
    }
    .background__superior{
        padding: 32vh 0 0 12vw;
    }
    .background__titulo{
        font-size: 3.5rem;
        width:250px;        
    }
    .background__titulo.alt{
        font-size: 2.8rem;
        width:250px;
    }
    .background__titulo.alt2{
        font-size: 2.6rem;
        width:250px;
    }
}
