.servicios{
    padding-top: 4%;
    padding-bottom: 4%;
}

.servicios__contenido{
    display: flex;
	flex-wrap: wrap;
    justify-content:space-around;
}

.servicios__titulo{
    text-align: center;
}

.servicio{
    height: 13rem;
	background-color: #FFF;
    border-radius: 15px;
	text-align: center;
	margin: 1.65%;
	position: relative;
    width: 44%;
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding: 0 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.servicio:hover{
    background-color: rgba(228, 228, 228, 0.7);
}

.servicio__contenido{
    width: 280px;
    display: flex;
    justify-content: center;
}

.servicio__img{
    width:25%;
    padding-bottom: 0.5rem;
    opacity:80%;
}

.servicio__titulo:hover{
    color:var(--azul2);
}

.servicio__titulo{
    font-weight:500;
    font-size: 2.3rem;
    padding-bottom: 0.5rem;
    line-height: 2.7rem;
    color:var(--gris2);
}

@media screen and (min-width:150px) {
    .servicio{
        width: 80%;
    }
}

@media screen and (min-width:1200px) {
    .servicio{
        width: 42%;
    }
}