.banner{
    padding:0;
    position:relative;
    width:100%;
    height:43rem;
    padding: 190px 0 0 0;
}

.banner::after{
    content:'';
    background-image: url(../../img/servicios-para-empresas.jpg);
    background-size: cover;
    opacity: 45%;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    position: absolute;
    z-index: -2;
}

.banner__logo{
    width:17rem;
    display: flex;
}

.banner__contenido{
    width: 62%;
    height: 70%;
    margin: 0 0 0 8%;
    padding:3%;
    background-color: rgba(255, 255, 255, 0.7);
} 

.banner__superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner__segundo{
    display:flex;
    padding-top: 2%;
}

.banner__titulo1{
    color: var(--azul1);
    font-size: 6.25rem;
}

.banner__titulo2{
    color: var(--gris2);
    font-size: 4.68rem;
    display:flex;
    align-items: flex-end;
    padding-left: 2%;
}

.banner__titulo3{
    color: var(--azul3);
    font-size: 7.5rem;
}

.banner__tercero{
    padding-top: 4rem;
    text-align: right;
    font-weight:500;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.1),
    5px 0px 5px rgba(0,0,0,0.05);
}

.banner__texto{
    color: var(--gris2);
    font-size: 2.18rem;
    padding-top: 1.4%;
}

@media screen and (max-width:1550px) {
    .banner{
        padding: 210px 0 0 0;
        height:38rem;
    }

    .banner__contenido{
        height: 60%;
    } 

    .banner__logo{
        width:14rem;
    }

    .banner__titulo1{
        font-size: 4.4rem;
    }
    
    .banner__titulo2{
        font-size: 3.3rem;
        padding-left: 2%;
    }
    
    .banner__titulo3{
        font-size: 5.3rem;
    }

    .banner__texto{
        font-size: 1.8rem;
    }
}

@media screen and (max-width:1250px) {
    .banner{
        padding: 210px 0 0 0;
        height:35rem;
    }

    .banner__contenido{
        height: 60%;
    } 

    .banner__logo{
        width:12rem;
    }

    .banner__titulo1{
        font-size: 4rem;
    }
    
    .banner__titulo2{
        font-size: 3rem;
        padding-left: 2%;
    }
    
    .banner__titulo3{
        font-size: 5rem;
    }

    .banner__texto{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:1024px) {
    .banner{
        padding: 210px 0 0 0;
        height:35rem;
    }

    .banner__contenido{
        width: 80%;
        height: 60%;
        margin: 0 0 0 7%;
    }
}

@media screen and (max-width:768px) {
    .banner{
        padding: 150px 0 0 0;
        height:40rem;
    }

    .banner__superior{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .banner__contenido{
        width: 80%;
        height: 80%;
    }

    .banner__segundo{
        padding-top: 0;
    }

    .banner__tercero{
        padding-top: 2.5rem;
    }

    .banner__titulo3{
        padding-bottom: 3rem;
    }
}