.nosotros{
    padding:0;
    display:flex;
    justify-content: flex-end;
    padding-bottom: 5rem;
}

.nosotros__contenido{
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nosotros__primero{
    display:flex;
    justify-content:end;
    width:68%;
}

.nosotros__titulo1{
    color: var(--azul3);
    font-size: 2.5rem;
    padding-right:1rem;
}

.nosotros__titulo2{
    color: var(--gris2);
    font-size: 2.5rem;
}

.nosotros__texto{
    width:68%;
    color: var(--gris2);
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-top:0.5rem;
    text-align: end;
    padding-bottom: 1.5rem;
}

.nosotros__img{
    width:50%;
}

.nosotros__boton-cont{
    width:68%;
    display: flex;
    justify-content: flex-end;
}

.nosotros__boton{
    width:30%;
}

@media screen and (max-width:1325px) {
    .nosotros__texto{
        font-size: 1.2rem;
        line-height: 2rem;
        padding-top:0.5rem;
    }

    .nosotros__boton{
        font-size: 1rem;
    }

}

@media screen and (max-width:1250px) {
    .nosotros__titulo1{
        font-size: 2rem;
    }
    
    .nosotros__titulo2{
        font-size: 2rem;
    }

    .nosotros__boton{
        width:50%;
    }
}

@media screen and (max-width:1060px) {
    .nosotros__texto{
        padding-top:0;
        padding-bottom:1rem;
        line-height: 1.8rem;
    }

    .nosotros__titulo1{
        padding-bottom: 0.5rem;
    }
    
    .nosotros__titulo2{
        padding-bottom: 0.5rem;
    }

}

@media screen and (max-width:950px) {
    .nosotros{
        display:flex;
        flex-direction: column;
        align-items: flex-end;
        padding-bottom: 4rem;
    }

    .nosotros__img{
        width:80%;
    }
    
    .nosotros__contenido{
        width:80%;
        align-items: flex-start;
        padding-top: 2rem;
        order:2;
    }

    .nosotros__primero{
        justify-content:flex-start;
    }
    .nosotros__texto{
        text-align: start;
    }

    .nosotros__boton-cont{
        justify-content: flex-start;
    }
}

@media screen and (max-width:650px) {
    
}