.footer{
    background-color: var(--azul3);
}

.footer__contenido{
    display: flex;
    align-items: center;
}

.footer__primero{
    display: flex;
    justify-content:space-around;
    border-bottom: 2px solid;
    border-color:var(--azul2);
    align-items: center;
    padding: 1.5rem 0;
}

.footer__logo{
    width: 8rem;
}

.footer__lista{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 8rem;
    padding-left:7rem;
}

.footer-menu__lista{
    display: flex;
    flex-direction: column;
    height: 8rem;
    justify-content: space-around;
}

.footer-menu__item, .footer__item{
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.footer-menu__item:hover {
    transform: scale(1.06);
    transition: 0.4s;
}

.footer__texto{
    padding: 1rem 0;
    text-align: center;
    color: white;
}

.footer__link:hover{
    color: var(--gris1)
}

@media screen and (max-width:1024px) {
    .footer-menu__item, .footer__item{
        font-size: 0.8rem;
    }

    .footer__texto{
        font-size: 0.8rem;
        padding-right: 2.5rem;
    }

    .footer__logo{
        width: 6rem;
    }

    .footer__lista{
        height: 6rem;
        padding-left:3rem;
    }
    
    .footer-menu__lista{
        height: 6rem;        
    }
}

@media screen and (max-width:480px) {
    .footer__primero{
        flex-direction: column;
        padding: 1.2rem 0;
    }

    .footer__menu{
        width:100%;
    }

    .footer-menu__lista{
        padding-top: 2rem;
        height:1.5rem;
        width:100%;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-around;
    }

    .footer-menu__item{
        padding:0 0.7rem;
    }

    .footer__texto{
        line-height: 1.1rem;
        padding-right: 2.5rem;
    }
}

@media screen and (max-width:375px) {
    .footer__primero{
        padding-bottom: 0.8rem;
    }
    .footer__lista{
        padding-left: 1rem;
    }
    .footer__logo{
        width: 5rem;
    }
    .footer__item{
        font-size: 0.7rem;
    }
    .footer-menu__item{
        padding:0 0.4rem;
    }
    .footer-menu__link{
        font-size: 0.7rem;
    }
    .footer__texto{
        font-size: 0.7rem;
        padding-right: 2.5rem;
    }
}