.head__wp{
    position: fixed;
    z-index: 10;
    width:75px;
    top: calc(100vh - 90px);
    left: calc(100vw - 100px);
}

.head__wp:hover{
    transform: scale(1.06);
    transition: 0.4s;
    cursor: pointer;
}

.head{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 6;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 1px 10px #9b9b9b;
}

.head__burguer{
    display: none;
}

.icon-menu:before{
    cursor: pointer;
    color: var(--azul3);
}

#menu-bar:checked ~ .head__container-menu .head__cont-menu{
	transform: translateX(0%);
}

#menu-bar:checked ~ .head__container-menu{
	opacity: 1;
	visibility: visible;
}

#menu-bar{
    display: none;
}

.head__logo {
    width: 4.2rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
}

.head__menu{
    width: 35%;    
}

.head__lista{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height:4rem;
    align-items: center;
}

.head__item{
    font-family: var(--inter);
    font-weight:500;
    font-size: 1.2rem;
    color: var(--azul2);
}

.head__burguer .menu-bar{
    float: right;
	line-height: 70px;
}

.head__item:hover {
    color: var(--azul1);
    transform: scale(1.06);
    transition: 0.4s;
}

.head__container-menu{
    z-index: 10;
	position: fixed;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100vh;
	top: 0;left: 0;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
    display: flex;
    justify-content: flex-end;
}

.head__cont-menu{
	width: 100%;
	max-width: 250px;
	background: var(--azul3);
	height: 100vh;
	position: relative;
	transition: all 500ms ease;
	transform: translateX(100%);
}

.head__cont-menu nav{
	transform: translateY(40%);
}

.head__cont-menu nav a{
	display: block;
	text-decoration: none;
	padding: 20px;
	color: #ffffff;
	border-left: 5px solid transparent;
	transition: all 400ms ease;
    border-bottom: 1px solid;
}

.head__cont-menu nav a:hover{
	border-left: 5px solid #c7c7c7;
	background: #4d4d4d;
}

.head__cont-menu label{
	position: absolute;
	right: 13rem;
	top: 1.5rem;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
}

@media screen and (max-width:1420px) {
    .head__menu{
        width: 45%;    
    }
}

@media screen and (max-width:1024px) {
    .head__burguer{
        display: block;
    }

    .head__menu{
        display: none;   
    }

    .head__logo {
        padding: 0.5rem 0 0.5rem 38vw;
    }

    .head__wp{
        width:60px;
        top: calc(100vh - 70px);
        left: calc(100vw - 70px);
    }
}

@media screen and (max-width:768px) {
    .head__wp{
        width:50px;
        top: calc(100vh - 60px);
        left: calc(100vw - 60px);
    }
}